body{
    width:400px;
    height:400px;
display:flex;
margin:auto;
flex-direction:column;
flex-wrap:wrap;
place-content:center;
text-align:center;
color:white;
background-color: black;
}

button{
    width:100px;
    border-radius:5px;
    height:30px;
    color:black;
    background-color: #fff;
    transition:0.2s;
}
button:hover{
    transform:scale(1.1)
}
button:active{
    border-color:orange;
    background-color: black;
    color:white;
}
h1{
    font-size:1rem;
    color:chartreuse;
    font-family:monospace;
}

